@model PruebaParcial2_JoselineRuiz.Models.Tarea

@{
    ViewData["Title"] = "Crear Tarea";
}

<h2>Crear Nueva Tarea</h2>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>


            <div class="form-group mb-3">
                <label asp-for="FechaLimite" class="control-label"></label>
                <input asp-for="FechaLimite" class="form-control" type="date" />
                <span asp-validation-for="FechaLimite" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control" asp-items="ViewBag.Estados">
                    <option value="">-- Seleccione un estado --</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Dificultad" class="control-label"></label>
                <select asp-for="Dificultad" class="form-control" asp-items="ViewBag.Dificultades">
                    <option value="">-- Seleccione dificultad --</option>
                </select>
                <span asp-validation-for="Dificultad" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="TiempoEstimadoHoras" class="control-label"></label>
                <input asp-for="TiempoEstimadoHoras" class="form-control" type="time" />
                <span asp-validation-for="TiempoEstimadoHoras" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="MetaId" class="control-label">Meta</label>
                <select asp-for="MetaId" class="form-control" asp-items="ViewBag.Metas">
                    <option value="">-- Seleccione una meta --</option>
                </select>
                <span asp-validation-for="MetaId" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}